/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/css.scss */
.labels, .labels .input-holder, .photo .images {
  *zoom: 1;
}
/* line 38, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.labels:after, .labels .input-holder:after, .photo .images:after {
  content: "";
  display: table;
  clear: both;
}

/* line 15, ../sass/css.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* line 20, ../sass/css.scss */
h1 {
  font-size: 26px;
  color: #4654ab;
  margin-bottom: 15px;
}

/* line 25, ../sass/css.scss */
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 30, ../sass/css.scss */
h1, h2 {
  font-weight: bold;
}

/* line 34, ../sass/css.scss */
.main {
  width: 960px;
  margin: auto;
  height: 550px;
  background: #f6f5f5;
  position: relative;
}

/* line 42, ../sass/css.scss */
.main-content {
  width: 780px;
  padding-bottom: 50px;
  margin: auto;
}

/* line 49, ../sass/css.scss */
.exercise {
  padding-top: 10px;
  position: relative;
}

/* line 54, ../sass/css.scss */
.checker {
  cursor: pointer;
  position: absolute;
  right: -60px;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-indent: -9999px;
  background: #2f9ec8 url("../images/icons/tick_white.png") no-repeat center center;
}
/* line 65, ../sass/css.scss */
.checker.clear {
  background-image: url("../images/icons/refresh_white.png");
}

/*exercise 1*/
/* line 73, ../sass/css.scss */
.labels {
  counter-reset: section;
  padding: 10px 0 20px;
}
/* line 78, ../sass/css.scss */
.labels .labelItem {
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 260px;
  height: 195px;
  padding-top: 140px;
  background: url("../images/pictures/exercise1/cloudy.png") no-repeat top center;
}
/* line 87, ../sass/css.scss */
.labels .labelItem.cloudy {
  background-image: url("../images/pictures/exercise1/cloudy.png");
}
/* line 90, ../sass/css.scss */
.labels .labelItem.sunny {
  background-image: url("../images/pictures/exercise1/sunny.png");
}
/* line 93, ../sass/css.scss */
.labels .labelItem.raining {
  background-image: url("../images/pictures/exercise1/raining.png");
}
/* line 96, ../sass/css.scss */
.labels .labelItem.foggy {
  background-image: url("../images/pictures/exercise1/foggy.png");
}
/* line 99, ../sass/css.scss */
.labels .labelItem.windy {
  background-image: url("../images/pictures/exercise1/windy.png");
}
/* line 102, ../sass/css.scss */
.labels .labelItem.snowing {
  background-image: url("../images/pictures/exercise1/snowing.png");
}
/* line 105, ../sass/css.scss */
.labels .labelItem .result {
  float: left;
  width: 25px;
  height: 25px;
}
/* line 111, ../sass/css.scss */
.labels .labelItem.checked .result {
  background: url("../images/icons/wrong.png") no-repeat center center;
}
/* line 114, ../sass/css.scss */
.labels .labelItem.checked.ok .result {
  display: inline-block;
  background-image: url("../images/icons/ok.png");
}
/* line 118, ../sass/css.scss */
.labels .labelItem input {
  float: left;
  margin: 2px 10px 0 15px;
}
/* line 124, ../sass/css.scss */
.labels .input-holder {
  padding: 5px 5px 10px 5px;
}
/* line 128, ../sass/css.scss */
.labels .example {
  margin-top: -15px;
  background: #ddd;
}
/* line 131, ../sass/css.scss */
.labels .example .example-text {
  display: block;
  clear: both;
}

/* line 138, ../sass/css.scss */
.words {
  background: #e6eaee;
  border: 1px solid #dcdcf5;
  padding: 10px 5px;
  text-align: center;
}
/* line 143, ../sass/css.scss */
.words span {
  margin: 0 10px;
}

/* line 148, ../sass/css.scss */
.gaps .labelItem:before {
  position: absolute;
  bottom: 30px;
  left: 15px;
  counter-increment: section;
  /* Increment the section counter */
  content: counter(section);
  /* Display the counter */
}

/* line 158, ../sass/css.scss */
.photo .labelItem {
  width: 230px;
  height: auto;
  padding: 0;
  background: none;
}
/* line 163, ../sass/css.scss */
.photo .labelItem input {
  width: 30px;
  margin: 2px 10px 0 5px;
  text-align: center;
}
/* line 168, ../sass/css.scss */
.photo .labelItem.example {
  margin-top: 0;
}
/* line 171, ../sass/css.scss */
.photo .labelItem .label {
  float: left;
  line-height: 20px;
}
/* line 175, ../sass/css.scss */
.photo .labelItem .result {
  float: left;
}
/* line 180, ../sass/css.scss */
.photo .images {
  width: 600px;
  margin: 40px auto;
  counter-reset: images;
}
/* line 185, ../sass/css.scss */
.photo .images .image {
  position: relative;
  float: left;
  margin: 5px;
  height: 115px;
  border: 5px solid #fff;
  box-shadow: 0 0 8px #aaa;
}
/* line 193, ../sass/css.scss */
.photo .images .image:before {
  counter-increment: images;
  /* Increment the section counter */
  content: counter(images);
  /* Display the counter */
  position: absolute;
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  background: #fff;
  text-align: center;
}
/* line 205, ../sass/css.scss */
.photo .images .image:nth-child(odd) {
  -webkit-transform: rotate(-5deg) scale(1.1);
  -moz-transform: rotate(-5deg) scale(1.1);
  -ms-transform: rotate(-5deg) scale(1.1);
  -o-transform: rotate(-5deg) scale(1.1);
  transform: rotate(-5deg) scale(1.1);
}
/* line 208, ../sass/css.scss */
.photo .images .image:nth-child(even) {
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
  transform: rotate(5deg) scale(1.1);
}
/* line 211, ../sass/css.scss */
.photo .images .image:nth-child(5) {
  -webkit-transform: rotate(-13deg) translateY(-20px) scale(1.1);
  -moz-transform: rotate(-13deg) translateY(-20px) scale(1.1);
  -ms-transform: rotate(-13deg) translateY(-20px) scale(1.1);
  -o-transform: rotate(-13deg) translateY(-20px) scale(1.1);
  transform: rotate(-13deg) translateY(-20px) scale(1.1);
}

/*Pagination*/
/* line 219, ../sass/css.scss */
.pagination {
  position: absolute;
  bottom: -90px;
  left: 0;
  right: 0;
  padding-left: 40px;
}
/* line 225, ../sass/css.scss */
.pagination:before {
  content: "";
  display: block;
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  height: 5px;
  background: #2f9ec8;
  z-index: 0;
}
/* line 236, ../sass/css.scss */
.pagination li {
  float: left;
  margin: 30px;
  position: relative;
  z-index: 10;
}
/* line 241, ../sass/css.scss */
.pagination li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  display: block;
  border-radius: 20px;
  text-indent: -9999px;
  font-weight: bold;
  border: 2px solid #2f9ec8;
  transition: background-color .5s, border-color .5s;
}
/* line 255, ../sass/css.scss */
.pagination li.active a {
  background: #4654ab;
  border-color: #4654ab;
  color: #fff;
}
/* line 260, ../sass/css.scss */
.pagination li.active:not(.block):after {
  content: "";
  display: block;
  width: 16px;
  height: 21px;
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -8px;
  background: url("../images/icons/marker.png") no-repeat center center;
}
/* line 273, ../sass/css.scss */
.pagination li.block, .pagination li.nav {
  margin-top: 33px;
}
/* line 275, ../sass/css.scss */
.pagination li.block a, .pagination li.nav a {
  width: 36px;
  height: 36px;
  margin-top: 0;
  display: block;
  border-radius: 18px;
  text-indent: 0;
  text-align: center;
  line-height: 33px;
  text-decoration: none;
}
/* line 288, ../sass/css.scss */
.pagination li.nav {
  margin-left: 5px;
  margin-right: 5px;
}
/* line 293, ../sass/css.scss */
.pagination li.nav a {
  text-indent: -99999px;
  background: #2f9ec8 url("../images/icons/arrow_left_white.png") no-repeat 7px center;
}
/* line 296, ../sass/css.scss */
.pagination li.nav a:hover {
  background-color: #4654ab;
  border-color: #4654ab;
}
/* line 301, ../sass/css.scss */
.pagination li.nav.next a {
  background-image: url("../images/icons/arrow_right_white.png");
  background-position: 11px center;
}
