@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/images";
@import "compass/typography/lists";

$lightBlue: rgb(47, 158, 200);
$headings: rgb(70, 84, 171);
$grey: rgb(246, 245, 245);

%clearfix {
	@include pie-clearfix;
}

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 26px;
	color: $headings;
	margin-bottom: 15px;
}
h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

h1, h2 {
	font-weight: bold;
}

.main {
	width: 960px;
	margin: auto;
	height: 550px;
	background: $grey;
	position: relative;
}

.main-content {
	width: 780px;
	padding-bottom: 50px;
	margin: auto;

}

.exercise {
	padding-top: 10px;
	position: relative;
}

.checker {
	cursor: pointer;
	position: absolute;
	right: -60px;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-indent: -9999px;
	background: $lightBlue url('../images/icons/tick_white.png') no-repeat center center;

	&.clear {
		background-image: url('../images/icons/refresh_white.png') ;
	}
}


/*exercise 1*/

.labels {
	@extend %clearfix;
	counter-reset: section;
	padding: 10px 0 20px;

	.labelItem {
		float: left;
		position: relative;
		@include box-sizing(border-box);
		padding: 10px;
		width: 260px;
		height: 195px;
		padding-top: 140px;
		background: url('../images/pictures/exercise1/cloudy.png') no-repeat top center;
		&.cloudy {
			background-image: url('../images/pictures/exercise1/cloudy.png');
		}
		&.sunny {
			background-image: url('../images/pictures/exercise1/sunny.png');
		}
		&.raining {
			background-image: url('../images/pictures/exercise1/raining.png');
		}
		&.foggy {
			background-image: url('../images/pictures/exercise1/foggy.png');
		}
		&.windy {
			background-image: url('../images/pictures/exercise1/windy.png');
		}
		&.snowing {
			background-image: url('../images/pictures/exercise1/snowing.png');
		}
		.result {
			float: left;
			width: 25px;
			height: 25px;
		}

		&.checked .result {
			background: url('../images/icons/wrong.png') no-repeat center center;
		}
		&.checked.ok .result {
			display: inline-block;
			background-image: url('../images/icons/ok.png');
		}
		input {
			float: left;
			margin: 2px 10px 0 15px;
		}
	}

	.input-holder {
		@extend %clearfix;
		padding: 5px 5px 10px 5px;
	}
	.example {
		margin-top: -15px;
		background: #ddd;
		.example-text {
			display: block;
			clear: both;
		}
	}
}

.words {
	background: rgb(230, 234, 238);
	border: 1px solid rgb(220, 220, 245);
	padding: 10px 5px;
	text-align: center;
	span {
		margin: 0 10px;
	}
}

.gaps .labelItem:before {
	position: absolute;
	bottom: 30px;
	left: 15px;
	counter-increment: section;      /* Increment the section counter */
	content: counter(section); /* Display the counter */

}

.photo {
	.labelItem {
		width: 230px;
		height: auto;
		padding: 0;
		background: none;
		input {
			width: 30px;
			margin: 2px 10px 0 5px;
			text-align: center;
		}
		&.example {
			margin-top: 0;
		}
		.label {
			float: left;
			line-height: 20px;
		}
		.result {
			float: left;
		}
	}

	.images {
		@extend %clearfix;
		width: 600px;
		margin: 40px auto;
		counter-reset: images;
		.image {
			position: relative;
			float: left;
			margin: 5px;
			height: 115px;
			border: 5px solid #fff;
			box-shadow: 0 0 8px #aaa;

			&:before {
		 		counter-increment: images;      /* Increment the section counter */
				content: counter(images); /* Display the counter */
				position: absolute;
				top: -1px;
				left: -1px;
				width: 20px;
				height: 20px;
				background: #fff;
				text-align: center;
			}

			&:nth-child(odd) {
				@include transform(rotate(-5deg) scale(1.1));
			}
			&:nth-child(even) {
				@include transform(rotate(5deg) scale(1.1));
			}
			&:nth-child(5) {
				@include transform(rotate(-13deg) translateY(-20px) scale(1.1));
			}
		}
	}
}

/*Pagination*/
.pagination {
	position: absolute;
	bottom: -90px;
	left: 0;
	right: 0;
	padding-left: 40px;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 47px;
		left: 0;
		right: 0;
		height: 5px;
		background: $lightBlue;
		z-index: 0;
	}
	li {
		float: left;
		margin: 30px;
		position: relative;
		z-index: 10;
		a {
			@include box-sizing(border-box);
			background: #fff;
			width: 20px;
			height: 20px;
			margin-top: 10px;
			display: block;
			border-radius: 20px;
			text-indent: -9999px;
			font-weight: bold;
			border: 2px solid $lightBlue;
			transition: background-color .5s, border-color .5s;
		}
		&.active {
			a {
				background: $headings;
				border-color: $headings;
				color: #fff;
			}
			&:not(.block):after {
				content: "";
				display: block;
				width: 16px;
				height: 21px;
				position: absolute;
				top: -15px;
				left: 50%;
				margin-left: -8px;
				background:  url('../images/icons/marker.png') no-repeat center center;
			}
		}
		&.block,
		&.nav {
			margin-top: 33px;
			a {
				width: 36px;
				height: 36px;
				margin-top: 0;
				display: block;
				border-radius: 18px;
				text-indent: 0;
				text-align: center;
				line-height: 33px;
				text-decoration: none;
			}
		}

		&.nav {
			margin: {
				left: 5px;
				right: 5px;
			}
			a {
				text-indent: -99999px;
				background: $lightBlue url('../images/icons/arrow_left_white.png') no-repeat 7px center;
				&:hover {
					background-color: $headings;
					border-color: $headings;
				}
			}
			&.next a {
				background-image: url('../images/icons/arrow_right_white.png');
				background-position: 11px center;
			}
		}
	}
}
