<section class="exercise photo" >
	<h1>{{title}}</h1>
	<h2>{{instructions}}</h2>
	<ul class="images">
		<li class="image">
			<img src="images/pictures/exercise2/1.png" />
		</li>
		<li class="image">
			<img src="images/pictures/exercise2/2.png" />
		</li>
		<li class="image">
			<img src="images/pictures/exercise2/3.png" />
		</li>
		<li class="image">
			<img src="images/pictures/exercise2/4.png" />
		</li>
		<li class="image">
			<img src="images/pictures/exercise2/5.png" />
		</li>
		<li class="image">
			<img src="images/pictures/exercise2/6.png" />
		</li>
	</ul>
	<ul class="labels">
		<li ng-repeat="item in exercises" class="labelItem {{item.correctAnswer}}"
		ng-class="{ok: checked && item.answer == item.correctAnswer || item.example, checked: checked, example: item.example }">
				<span class="result" ></span>
				<input type="text" ng-show="!item.example" ng-keypress="reset()" ng-model="item.answer"  custom-validation/>
				<input type="text" disabled ng-model="item.correctAnswer" ng-show="item.example" custom-validation/>
			<span class="label">{{item.label}}</span>
		</li>
	</ul>
	<span ng-class="{clear: checked, checker: true}" ng-click="check()">check</span>
</section>
